#pond {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/Pond/pond.gif);
  height: 970px;
  width: 1920px;
}

.BackToVillage {
  position: absolute;
  height: 150px;
  width: 800px;
}
.FC p {
  margin: 0;
}
.FC {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
}

#SellShop {
  display: flex;
  position: absolute;
  background-color: black;
  margin-top: 50px;
  margin-left: -1390px;
  width: 400px;
  height: 600px;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.SellConteiner {
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/Fish/sell.png);
  height: 420px;
  width: 370px;
  display: flex;
  justify-content: center;
}

.FishForSell {
  margin-top: 50px;
}
.Slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  height: 100px;
}

.CatchValue {
  background-color: rgb(66, 66, 186);
}

.FishForSell {
  height: 100px;
  width: 100px;
  position: absolute;
  background-size: 100px, 105px;
}
