#pond {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/Pond/pond.gif);
  height: 970px;
  width: 1920px;
}

.BackToVillage {
  position: absolute;
  height: 150px;
  width: 800px;
}
.FC p {
  margin: 0;
}
.FC {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
}

#SellShop {
  display: flex;
  position: absolute;
  margin-left: -720px;
  width: 1200px;
  height: 970px;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.474);
}

.SellConteiner {
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/Fish/sell.png);
  height: 420px;
  width: 370px;
  margin-top: -62px;
  margin-left: -413px;
  display: flex;
  justify-content: center;
  z-index: 10000;
}

.FishForSell {
  margin-top: 50px;
}
.Slider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  height: 250px;
}

.FishForSell {
  height: 100px;
  width: 100px;
  position: absolute;
}

.BS {
  border-radius: 0;
  width: 200px;
  height: 50px;
  border: 2px solid #3d2626;
  background-color: #543628;
  cursor: pointer;
}

.BS:active {
  background-color: red;
}

.openSellShop {
  margin-top: -150px;
  background-color: rgba(255, 0, 0, 0.374);
  height: 820px;
  width: 500px;
  cursor: pointer;
}
