#pond {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/Pond/pond.gif);
  height: 970px;
  width: 1920px;
}

.BackToVillage {
  position: absolute;
  height: 150px;
  width: 800px;
}
.FC p {
  margin: 0;
}
.FC {
  background-color: aqua;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
}
