#Click {
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/fountain.gif);
  background-size: 440px;
  background-position: 4.5px;
  background-position-y: 5px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  height: 450px;
  width: 450px;
  margin-top: -80px;
  margin-left: -135px;
  clip-path: polygon(
    1% 34%,
    34% 1%,
    66% 1%,
    99% 34%,
    99% 61%,
    61% 99%,
    39% 99%,
    1% 60%
  );
  cursor: pointer;
}

#Click:active {
  transform: scale(1.01);
}

.silver {
  display: flex;
  flex-direction: column;
  margin-top: -99px;
  font-size: 13px;
  font-family: "Alagard";
}

.silver p {
  margin: 4px;
  padding: 4px;
}

.sc {
  font-size: 25px;
}

.countPerClick {
  margin-top: 3px;
  font-family: "Alagard";
}
