#enchant-container {
  height: 977px;
  width: 700px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/LeftMenuSmith.gif);
  position: relative;
  background-repeat: no-repeat;
  z-index: 100;
}

.encahnt-box {
  display: flex;
  height: 500px;
  width: 300px;
  color: white;
  justify-content: space-around;
  align-items: center;
  flex-direction: column-reverse;
}

.putItemThere,
.EnchantSuccess {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(128, 128, 128, 0.1);
  border-radius: 20px;
  display: flex;
  height: 100px;
  width: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EnchantSuccess {
  background-color: rgba(0, 0, 0, 0.103);
  margin-top: 45px;
  background-color: red;
}

.EnchantProgress {
  background-color: rebeccapurple;
  height: 100px;
  width: 10px;
}

#EnchantMenuChouseWeapon {
  position: absolute;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-top: 80px;
  width: 300px;
  height: 350px;
  border: 2px solid white;
  border-radius: 7px;
  overflow: auto;
  overflow-x: hidden;
  z-index: 100;
}

.clickForEnchant {
  position: absolute;
  margin-top: 200px;
}
.EnchantSuccess {
  color: white;
}

.EnchantSuccess:hover + .infoEnchant {
  color: white;
  display: flex;
}

.infoEnchant {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  display: none;
  position: absolute;
  height: 100px;
  width: 200px;
  font-size: 30px;
  margin-left: 180px;
  margin-top: 180px;
}
.UpgradeDmgTitle {
  font-size: 20px;
  color: gray;
}
.UpgradeImg {
  height: 40px;
  width: 40px;
}
.UpgradeName {
  margin-bottom: 10px;
}
.enchantBox2 {
  display: flex;
}

.mainWeaponImg {
  height: 90%;
}
