#DayTimeContainer {
  position: fixed;
  flex-direction: column;
  align-items: center;
  display: flex;
  z-index: 900;
  top: 0;
  right: 0;
  width: 150px;
  height: 350px;
}

.DayNightCycle {
  position: absolute;
  height: 140px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  background-size: 160px;
  z-index: 1000;
}

.DaysTime {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  top: 50px;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/DayNightCycle/te.png);
  height: 200px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: 100px;
}

.DaysTime p {
  margin: 0;
  font-size: 22px;
}

.DTC {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 105px;
  width: 100px;
}

.Setings {
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-top: 100px;
  margin-left: -160px;
  display: none;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes SetingsOpen {
  0% {
    margin-top: 50px;
    margin-left: 0px;
  }
}

@keyframes SetingsClose {
  0% {
    margin-top: 90px;
    margin-left: -150px;
  }
  100% {
    margin-top: 50px;
    margin-left: 0px;
  }
}

.Setings.show {
  display: flex;
  animation-name: SetingsOpen;
  animation-play-state: running;
}

.Setings.hide {
  display: flex;
  animation-name: SetingsClose;
  animation-play-state: running;
}
