#DayTimeContainer {
  position: fixed;
  flex-direction: column;
  align-items: center;
  display: flex;
  z-index: 900;
  top: 0;
  right: 0;
  width: 150px;
  height: 350px;
}

.DayNightCycle {
  height: 140px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  background-size: 160px;
}

.DayNightCycle.transitioning {
  pointer-events: none;
}
.DaysTime {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  top: 50px;
  z-index: -1;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/DayNightCycle/te.png);
  height: 200px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: 100px;
}

.DaysTime p {
  margin: 0;
  font-size: 22px;
}

.DTC {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 105px;
  width: 100px;
}
