#left-nav {
  display: flex;
  position: absolute;
  align-items: end;
  height: 154px;
  width: 564px;
  font-size: 35px;
  /*margin left 68px*/
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-element {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 33.3%;
  height: 77px;
}

.nav-element:hover {
  background-color: aliceblue;
}

.active {
  color: red;
}

/*Shop-Menu*/
