#CardGameC {
  position: relative;
  height: 200px;
  width: 170px;
  margin-top: 520px;
  cursor: pointer;
}

#CardGame {
  margin-top: -5px;
  padding-bottom: 15px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgb(0, 0, 0);
  z-index: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.CardGameG {
  height: 1000px;
  width: 1900px;
  cursor: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/CardGame/CardBoard.png);
}

.deckC {
  display: flex;
  height: 100%;
  width: 92%;
  flex-wrap: wrap;
}

.CardConteiner {
  position: relative;
  display: flex;
  height: 303px;
  width: 210px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardChar,
.CardCharIG {
  position: absolute;
  z-index: 10;
  display: flex;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 150px;
  background-color: #4f4656;
  height: 210px;
  width: 85%;
  clip-path: polygon(
    40% 20%,
    60% 20%,
    90% 39%,
    85% 80%,
    66% 100%,
    24% 100%,
    12% 77%,
    7% 40%
  );
  pointer-events: none;
}
.CardCharIG {
  clip-path: polygon(
    40% 20%,
    60% 20%,
    90% 39%,
    85% 80%,
    66% 90%,
    24% 90%,
    12% 77%,
    7% 40%
  );
}
.CardName {
  position: absolute;
  margin-top: 220px;
  color: white;
  height: 40px;
  width: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 25;
}

.CardStats,
.CardStatsIG {
  margin-top: 237px;
  position: absolute;
  width: 95%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 25;
}

.CardStatsIG {
  width: 73%;
  z-index: 1000;
  margin-top: 154px;
}

.AtackPoints,
.HpPoints {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}

.ManaC {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 40px;
  font-size: 25px;
  width: 100%;
}

.ManaPoints {
  color: white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 25;
}

.imgCardAb {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/CardGame/AllyCard.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 210px;
  z-index: 20;
}

.imgCardAbE {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/CardGame/EnemyCard.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 210px;
  z-index: 20;
}

.CloseGameP {
  position: absolute;

  width: 100%;
  height: 75px;
  display: flex;
  justify-content: end;
  pointer-events: none;
}
.CloseGame {
  background-color: aqua;
  height: 50px;
  width: 50px;
  margin-top: 25px;
  pointer-events: all;
  cursor: pointer;
  border: none;
}

.GameCP {
  margin-left: -25px;
  height: 100%;
  width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AllyHandCard,
.EnemyHandCard {
  width: 90%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.6);
}

.scaleSize {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}
.CardConteiner {
  padding: 0;
  margin: 0;
}

.Board {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 250px;
  z-index: 2000;
}

.CardOnBoard {
  width: 250px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.InGameCard {
  position: absolute;
  background-repeat: no-repeat;
  margin-top: 19px;
  z-index: 900;
  background-size: 160px;
  height: 220px;
  width: 160px;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/CardGame/inTable.png);
}

.mainMenu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 400px;
  width: 1850px;
}
.NextRound {
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/CardGame/bUp.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 120px;
  border: none;
  height: 200px;
  width: 180px;
  margin-top: 100px;
  margin-left: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Alagard";
  font-size: 25px;
}
.NextRound:active {
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/CardGame/bDown.png);
}
.NextRound p {
  margin-top: -90px;
  margin-left: -58px;
}
.MainCharCon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 1600px;
}
.mainCharacter {
  height: 270px;
  width: 220px;
}

.CharCGBox {
  height: 100%;
  background-color: aqua;
  clip-path: polygon(
    4% 17%,
    4% 9%,
    33% 9%,
    90% 9%,
    95% 15%,
    95% 50%,
    95% 85%,
    93% 91%,
    59% 92%,
    41% 92%,
    11% 92%,
    4% 86%
  );
}

.CharacterImgEqCG {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: 550px;
  background-position-y: -50px;
  background-repeat: no-repeat;
}

.BorderMC {
  position: absolute;
  display: flex;
  justify-content: center;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/CardGame/MCBorder.png);
  height: 270px;
  width: 220px;
  z-index: 10000;
}

.MCHP {
  color: white;
  font-size: 30px;
  margin-top: 14px;
  margin-left: 5px;
}
.EnemyChar {
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/CardGame/CardGuy.gif);
  height: 100%;
  width: 100%;
  background-size: 300px;
  background-position: -60px 30px;
  background-repeat: no-repeat;
  background-color: aqua;
  clip-path: polygon(
    4% 17%,
    4% 9%,
    33% 9%,
    90% 9%,
    95% 15%,
    95% 50%,
    95% 85%,
    93% 91%,
    59% 92%,
    41% 92%,
    11% 92%,
    4% 86%
  );
}

.buttonTest {
  position: absolute;
  z-index: 10000;
}

.Mana {
  display: flex;
  justify-content: center;
  height: 530px;
  width: 300px;
  background-position-y: -90px;
  background-position-x: -230px;
  display: flex;
  background-size: 750px;
  position: absolute;
  z-index: 10;
  margin-left: -270px;
  margin-top: -170px;
}

.crystal0 {
  position: absolute;
  height: 530px;
  width: 300px;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/CardGame/Crystal/0on10.gif);
  background-position-x: -230px;
  background-position-y: -90px;
  display: flex;
  background-size: 750px;
  z-index: 9;
  margin-left: -270px;
  margin-top: -170px;
}
