#inventoryContainer {
  background-repeat: no-repeat;
  height: 350px;
  box-sizing: content-box;
  width: 700px;
  display: flex;
}

.inventory {
  height: auto;
  width: 390px;
  margin-top: 82px;
  margin-left: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f56565;
}
span {
  height: 75px;
}

.item-slot {
  display: inline-block;
  height: 75px;
  width: 78px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/invenory/emptSlot.png);
  background-repeat: no-repeat;
}

.item-slot.empty {
  cursor: default;
}

.item-slot.being-moved .img {
  display: none;
}

.item-slot.being-dragged {
  position: absolute;
  cursor: grab;
  background-image: none;
}

.item-slot.being-dragged .content {
  background: rgba(255, 255, 255, 0.4);
  margin-left: -115px;
  margin-top: -115px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.item-slot .content {
  content: " ";
  background-size: 80px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.item-slot .content .img {
  height: 70%;
  width: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
