#ChessC {
  height: 250px;
  width: 410px;
  margin-left: 1640px;
  margin-top: -170px;
  cursor: pointer;
}

#MainChess {
  margin-top: -5px;
  padding-bottom: 15px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: black;
  z-index: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.ChessG {
  background-color: greenyellow;
  height: 200px;
  width: 200px;
  cursor: auto;
}
