#ChessC {
  height: 250px;
  width: 410px;
  margin-left: 1640px;
  margin-top: -170px;
  cursor: pointer;
}

#MainChess {
  margin-top: -5px;
  padding-bottom: 15px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.ChessG {
  background-color: greenyellow;
  background-repeat: no-repeat;
  background-position: center;
  height: 770px;
  width: 772px;
  cursor: auto;
}

.Chess-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChessBoardGame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.item-slot-chess {
  display: inline-block;
  height: 96px;
  width: 96px;
  box-sizing: border-box;
  cursor: pointer;
  cursor: grab;
  background-repeat: no-repeat;
}

.item-slot-chess.empty {
  cursor: default;
}

.item-slot-chess.being-moved-chess .img {
  display: flex;
}

.item-slot-chess.being-dragged-chess {
  position: absolute;
  cursor: grab;
  background-image: none;
}

.item-slot-chess.being-dragged-chess .content-chess {
  transform: translate(-50%, 0%);
  z-index: 1005;
  margin-left: 67px;
  margin-top: 30px;
}

.item-slot-chess .content-chess {
  content: " ";
  background-size: 80px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.item-slot-chess .content-chess .img {
  height: 70%;
  width: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.ChessPice {
  width: 96px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100px;
  margin-top: -90px;
  position: absolute;
}

.ChessBoard {
  height: 400px;
  width: 400px;
}

.chessboard-wrapper .square-light {
  background-color: lightblue !important; /* Replace with your desired color or image URL */
}

/* Customize the dark squares */
.chessboard-wrapper .square-dark {
  background-color: lightgray; /* Replace with your desired color or image URL */
}
