#ChessC {
  height: 250px;
  width: 410px;
  margin-left: 1640px;
  margin-top: -170px;
  cursor: pointer;
}

#MainChess {
  margin-top: -5px;
  padding-bottom: 15px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgb(0, 0, 0);
  z-index: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.ChessG {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 780px;
  width: 780px;
  cursor: auto;
}

.GameOver {
  margin-top: -240px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: aqua;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/Chess/Board.png);
  background-repeat: no-repeat;
  background-size: 600px;
  height: 150px;
  width: 600px;
  font-size: 30px;
  z-index: 1001;
}
.GameOver p {
  margin: 0;
}
