#mainBGScrollHorizontal {
  width: 100%;
  height: 1000px;
  background-color: red;
  overflow-x: scroll;
  white-space: nowrap;
}

.bg {
  justify-content: space-between;
  width: 8000px;
  height: 100%;
  background-size: 8000px;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/learn/master/fianlbg.png?token=GHSAT0AAAAAAB3PJ2NAZPPDBUSFNPZ6IV3MZAY2ATA);
}
