#mainBGScrollHorizontal {
  width: 100%;
  height: 1000px;
  overflow-x: scroll;
}

.MidleMenu {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.GameMainWindow {
  width: 9200px;
  height: 100%;
  background-size: 9200px;
  background-position-y: -10px;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/MainBg2.png);
  display: flex;
  flex-direction: row;
}

.leftVillage {
  height: 100%;
  width: 3000px;
}

.rightVillage {
  height: 100%;
  width: 4200px;
  display: flex;
  flex-direction: row;
}

.WeaponShop {
  height: 600px;
  width: 1000px;
  margin-top: 30px;
  margin-left: 225px;
  cursor: pointer;
  border-top-left-radius: 40%;
  border-top-right-radius: 20%;
}

.BlackSmith {
  height: 605px;
  width: 620px;
  margin-top: 40px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin-left: 80px;
  cursor: pointer;
}

.ArmorShop {
  height: 500px;
  width: 960px;
  margin-top: 105px;
  margin-left: 125px;
  cursor: pointer;
}

.Motel {
  height: 530px;
  width: 990px;
  margin-left: 140px;
  cursor: pointer;
}

.Cycle {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  pointer-events: none;
  transition: background-color 1s ease-in-out;
  opacity: 0.14;
}
