#InnC {
  position: relative;
  height: 680px;
  width: 1350px;
  margin-left: 600px;
  clip-path: polygon(
    30% 0%,
    100% 0,
    100% 37%,
    73% 37%,
    60% 74%,
    30% 100%,
    2% 100%,
    0 0
  );
  cursor: pointer;
}

#MainInn {
  margin-top: -5px;
  padding-bottom: 15px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: black;
  z-index: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.InnG {
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/Inn/Inn.gif);
  height: 900px;
  width: 1400px;
  cursor: auto;
  clip-path: polygon(
    0 10%,
    35% 10%,
    35% 0,
    100% 0,
    100% 89%,
    39% 90%,
    39% 100%,
    36% 100%,
    35.8% 71.5%,
    33.4% 71.5%,
    33.3% 100%,
    0 100%
  );
}
