.midVillage {
  position: relative;
  height: 100%;
  width: 2000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.PondTrawel {
  position: absolute;
  margin-top: 800px;
  height: 150px;
  width: 600px;
}
