.MainWeaponShop,
.MainBlackSmith,
.MainArmorShop,
.MainMotel {
  margin-top: -5px;
  padding-bottom: 15px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgb(0, 0, 0);
  z-index: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

#weapon-shop-container {
  height: 900px;
  width: 1400px;
  display: flex;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/learn/master/WeaponShop.gif?token=GHSAT0AAAAAACA775JHO7F7WRAOUDIWE2UKZDOFNLQ);
  background-repeat: no-repeat;
  cursor: auto;
  flex-direction: column;
}

.itemsForPurchasable {
  width: 80px;
  height: 0px;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-left: 40px;
}

.itemsForPurchasable img {
  transform: rotate(90deg);
  position: relative;
  height: 85px;
  transition: 0.1s;
}

.WeaponWall {
  height: 200px;
  width: 750px;
  margin-top: 45px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.RedAndPurple {
  height: 100px;
  width: 330px;
  margin-top: 60px;
  margin-left: 512px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.RAPitemsForPurchasable {
  width: 80px;
  height: 0px;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-left: 40px;
}

.RAPitemsForPurchasable img {
  transform: rotate(90deg);
  position: relative;
  height: 100px;
  transition: 0.1s;
}

.RAPitemsForPurchasable img:hover,
.itemsForPurchasable img:hover {
  cursor: pointer;
  transition: 0.08s;
  transform: scale(1.1) rotate(90deg);
}

.itemsForPurchasableS img:hover,
.itemsForPurchasableA img:hover,
.itemsForPurchasableH img:hover {
  cursor: pointer;
  transition: 0.08s;
  transform: scale(1.1);
}

/* ARMOR SHOP */

#armor-shop-container {
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/AShop.png);
  background-repeat: no-repeat;
  cursor: auto;
  height: 700px;
  width: 1000px;
}

.helmet-Conteiner {
  position: absolute;
  height: 70px;
  width: 300px;
  margin-top: 307px;
  margin-left: 500px;
  display: flex;
}

.itemsForPurchasableH {
  width: 70px;
  height: 70px;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 5px;
}

.itemsForPurchasableH img {
  height: 50px;
  transition: 0.08s;
}
/*Armor*/
.armor-Conteiner {
  position: absolute;
  width: 540px;
  margin-top: 380px;
  margin-left: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.itemsForPurchasableA {
  width: 70px;
  height: 70px;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 120px;
  margin-bottom: 27px;
}

.itemsForPurchasableA img {
  height: 65px;
  transition: 0.08s;
}

/*SHOES*/

.shoes-Conteiner {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  height: 175px;
  width: 250px;
  margin-top: 23px;
  margin-left: 633px;
}

.itemsForPurchasableS {
  width: 70px;
  height: 70px;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: end;
  border: none;
  margin-left: 7px;
}

.itemsForPurchasableS img {
  height: 40px;
  transition: 0.08s;
}

#MotelContainer {
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/Motel.png);
  height: 681px;
  width: 918px;
  background-repeat: no-repeat;
  cursor: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SleepButton {
  height: 40px;
  width: 120px;
  margin-right: 200px;
  margin-top: 100px;
}

.BST {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-top: 402px;
  color: white;
  text-shadow: -3px 2px 0px rgba(0, 0, 0, 1), 2px 2px 0px rgba(0, 0, 0, 1),
    -3px -2px 0px rgba(0, 0, 0, 1), 2px -2px 0px rgba(0, 0, 0, 1);
}

.MT {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 365px;
  margin-left: -30px;
  font-size: 25px;
  width: 20px;
  color: red;
  text-shadow: -3px 2px 0px rgba(0, 0, 0, 1), 2px 2px 0px rgba(0, 0, 0, 1),
    -2px -2px 0px rgba(0, 0, 0, 1), 2px -2px 0px rgba(0, 0, 0, 1);
}

.AST {
  margin-left: 135px;
  margin-top: 300px;
  width: 135px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 22px;
  color: #c0c0c0;
  text-shadow: -3px 2px 0px rgba(0, 0, 0, 1), 2px 2px 0px rgba(0, 0, 0, 1),
    -2px -2px 0px rgba(0, 0, 0, 1), 2px -2px 0px rgba(0, 0, 0, 1);
}

.AT {
  width: 100px;
  font-size: 30px;
  margin: 0;
}
.ST {
  margin-top: -10px;
  width: 100px;
  display: flex;
  margin-top: -8px;
  justify-content: end;
}

.MWT {
  margin-left: 200px;
  margin-top: 401px;
  width: 160px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 22px;
  color: goldenrod;
  text-shadow: -3px 2px 0px rgba(0, 0, 0, 1), 2px 2px 0px rgba(0, 0, 0, 1),
    -2px -2px 0px rgba(0, 0, 0, 1), 2px -2px 0px rgba(0, 0, 0, 1);
}

.WT {
  margin: 0;
  font-size: 28px;
}

.WST {
  width: 130px;
  display: flex;
  justify-content: end;
  margin: 0;
  margin-top: -10px;
  font-size: 20px;
}
