#equipment {
  background-color: rgb(44, 44, 44);
  display: flex;
  height: 977px;
  width: 600px;
  display: flex;
  justify-content: center;
}

.circle {
  margin-top: 80px;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 3px solid white;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(75, 75, 75);
  border: 2px solid white;
  border-radius: 5px;
  width: 62px;
  height: 62px;
  cursor: pointer;
}

#option-container {
  position: absolute;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  margin-left: 235px;
  margin-top: 421px;
  width: 300px;
  height: 350px;
  border: 2px solid white;
  border-radius: 7px;
  overflow: auto;
  overflow-x: hidden;
  z-index: 100;
}

.option {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  background-color: rgb(59, 59, 59);
  width: 100%;
  height: 50px;
  padding: 10px;
  cursor: pointer;
}

.option:active,
.option:hover {
  background-color: rgb(83, 83, 83);
}
.mainWeaponImgeq {
  margin-top: 4px;
  height: 60px;
}

.OptionWeaponImg {
  margin-top: 5px;
  height: 35px;
}

.itemName {
  margin-left: 10px;
  color: white;
  font-size: 28px;
}

.close {
  display: none !important;
}

.open {
  display: flex !important;
}

/*====================================================*/

/*tier weapon*/

.greenB {
  border: 3.5px solid #48bb78;
  -webkit-box-shadow: 0px 0px 10px 1px #48bb78;
  -moz-box-shadow: 0px 0px 10px 1px #48bb78;
  box-shadow: 0px 0px 10px 1px #48bb78;
}
.blueB {
  border: 3.5px solid #4299e1;
  -webkit-box-shadow: 0px 0px 10px 1px #4299e1;
  -moz-box-shadow: 0px 0px 10px 1px #4299e1;
  box-shadow: 0px 0px 10px 1px #4299e1;
}
.yellowB {
  border: 3.5px solid #ecc94b;
  -webkit-box-shadow: 0px 0px 10px 1px #ecc94b;
  -moz-box-shadow: 0px 0px 10px 1px #ecc94b;
  box-shadow: 0px 0px 10px 1px #ecc94b;
}
.redB {
  border: 3.5px solid #f56565;
  -webkit-box-shadow: 0px 0px 10px 1px #f56565;
  -moz-box-shadow: 0px 0px 10px 1px #f56565;
  box-shadow: 0px 0px 10px 1px #f56565;
}

.greenC {
  color: #5fdd5f;
}
.blueC {
  color: #4299e1;
}
.yellowC {
  color: #ecc94b;
}
.redC {
  color: #f56565;
}
.purpleC {
  color: purple;
}

/*Weapon*/
.AweWeapon {
  margin-top: 450px;
}

.MainWeapon {
  margin-top: 415px;
  margin-left: -170px;
}

.subWeapon {
  margin-top: 415px;
  margin-right: -170px;
}
/*Armor*/

.Armor {
  margin-top: -440px;
  margin-right: -170px;
}
.Helmet {
  margin-top: -440px;
  margin-left: -170px;
}
.Shoes {
  margin-top: 150px;
  margin-left: -440px;
}
.Gloves {
  margin-top: 150px;
  margin-right: -440px;
}

/*Statistic*/
#Statistic {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin-top: -320px;
}

#statistic-container {
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 100px;
  width: 400px;
  color: white;
  justify-content: space-around;
}

.MainWeaponDmg,
.AweWeaponDmg,
.SubWeaponDmg {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.statsDmg {
  font-size: 23px;
}

.GS {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: black;
  margin-top: 145px;
  height: 90px;
  width: 150px;
  z-index: 10;
}

.statsDmgMainWeaponHiden {
  display: none;
}
