#equipment {
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/invenory/FullUi.png);
  background-repeat: no-repeat;
  display: flex;
  height: 350px;
  width: 700px;
  flex-direction: row-reverse;
}

.items-box {
  display: flex;
  width: 66px;
  height: 64px;
  cursor: pointer;
  border-radius: 16px;
}
#loopItems {
  height: 77.2px;
}

.allItemsConteiner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/invenory/invSlots.png);
}

#option-container {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 480px;
  overflow: hidden;
  z-index: 100;
  color: white;
  height: 314px;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/invenory/invSlots.png);
}

.och {
  margin-left: -565px;
  margin-top: -10px;
}
.oca {
  margin-left: -565px;
  margin-top: -86px;
}

.ocg {
  margin-left: -565px;
  margin-top: -163px;
}

.ocs {
  margin-left: -565px;
  margin-top: -239px;
}

.ocmw {
  margin-left: -641px;
  margin-top: -89px;
}
.ocsw {
  margin-left: -644px;
  margin-top: -162px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 72px;
  height: 69px;
  cursor: pointer;
  margin-top: 7.4px;
  margin-left: 6.8px;
  border-radius: 19px;
}

.option:active,
.option:hover {
  background-color: rgb(83, 83, 83);
}
.equipmentImgeq {
  height: 50px;
}

.OptionEquipmentImg {
  height: 52px;
}

.itemName {
  margin-left: 10px;
  color: white;
  font-size: 28px;
}

.close {
  display: none !important;
}

.open {
  display: flex !important;
}

/*====================================================*/

/*tier weapon*/

.greenB {
  border: 3.5px solid #48bb78;
  -webkit-box-shadow: 0px 0px 10px 1px #48bb78;
  -moz-box-shadow: 0px 0px 10px 1px #48bb78;
  box-shadow: 0px 0px 10px 1px #48bb78;
}
.blueB {
  border: 3.5px solid #4299e1;
  -webkit-box-shadow: 0px 0px 10px 1px #4299e1;
  -moz-box-shadow: 0px 0px 10px 1px #4299e1;
  box-shadow: 0px 0px 10px 1px #4299e1;
}
.yellowB {
  border: 3.5px solid #ecc94b;
  -webkit-box-shadow: 0px 0px 10px 1px #ecc94b;
  -moz-box-shadow: 0px 0px 10px 1px #ecc94b;
  box-shadow: 0px 0px 10px 1px #ecc94b;
}
.redB {
  border: 3.5px solid #f56565;
  -webkit-box-shadow: 0px 0px 10px 1px #f56565;
  -moz-box-shadow: 0px 0px 10px 1px #f56565;
  box-shadow: 0px 0px 10px 1px #f56565;
}
.purpleB {
  border: 3.5px solid purple;
  -webkit-box-shadow: 0px 0px 10px 1px purple;
  -moz-box-shadow: 0px 0px 10px 1px purple;
  box-shadow: 0px 0px 10px 1px purple;
}

.greenC {
  color: #5fdd5f;
}
.blueC {
  color: #4299e1;
}
.yellowC {
  color: #ecc94b;
}
.redC {
  color: #f56565;
}
.purpleC {
  color: purple;
}

.DefItems {
  width: 79px;
  height: 294px;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.DmgItems {
  margin-top: 1px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*Weapon*/

.MainWeapon {
  margin-bottom: 12px;
  margin-left: 2px;
  box-sizing: border-box;
}

.ShieldAndDagger {
  margin-bottom: 2.5px;
  margin-left: 2px;
  box-sizing: border-box;
}
/*Armor*/

.Helmet,
.Armor,
.Gloves,
.Shoes {
  margin-left: 2px;
  box-sizing: border-box;
}

/*Statistic*/
#Statistic {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100px;
  height: 200px;
  margin-left: 100px;
  margin-top: -250px;
  font-size: 30px;
}

#statistic-container {
  display: flex;
  height: 100px;
  width: 100px;
  color: white;
  justify-content: space-around;
  flex-direction: column;
}
.MainWeaponDmg {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.armorDef {
  margin-top: 7px;
}
.MainWeaponDmg,
.armorDef {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.statsDmg {
  font-size: 23px;
}

.statsDmgMainWeaponHiden,
.statsDefDefHiden,
.statsHelmetDefHiden,
.statsShoesDefHiden,
.statsGlovesDefHiden,
.statsShieldAndDaggerDefHiden,
.statsDmgDaggerHiden {
  display: none;
}

.selectedItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
