/*positioning all cat*/

.Cat-p1 {
  margin-top: 35px;
  margin-left: -350px;
}
.Cat-p2 {
  margin-top: 172px;
  margin-left: 470px;
}

.Cat {
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  background-size: 60px;
  animation-play-state: paused;
  cursor: pointer;
}

.ShopCat {
  width: 250px;
  height: 250px;
  margin-left: -50px;
  background-size: 300px;
  position: absolute;
}
