.Cat-p1 {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*positioning all cat*/

.Cat-p1 {
  margin-top: 35px;
  margin-left: -350px;
}

.Cat {
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  background-size: 60px;
  animation-play-state: paused;
}

.ShopCat {
  width: 250px;
  height: 250px;
  margin-left: -50px;
  background-size: 300px;
  position: absolute;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/Cat/Cat/Black/catSitBig.gif);
}
