#App-container {
  display: flex;
  justify-content: space-between;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.left-container {
  transition: 0.35s;
  display: flex;
  align-items: center;
  height: 977px;
  width: 700px;
  display: flex;
  flex-direction: column;
  background-image: url("https://raw.githubusercontent.com/BartoszSeno/ClickerZero/7e8292ed207169e5416054a869ee13d41b11f066/src/assets/MainImg/LeftMenu.png");
}

.CloseAndOpenMenu {
  position: absolute;
  background-color: transparent;
  border: none;
  height: 70px;
  width: 60px;
  cursor: pointer;
  z-index: 10000;
  margin-left: 663px;
  margin-top: -35px;
}

.CloseAndOpenMenu span {
  background-repeat: no-repeat;
  position: absolute;
  height: 70px;
  width: 60px;
}
