#App-container {
  display: flex;
  justify-content: space-between;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.left-container {
  display: flex;
  align-items: center;
  height: 977px;
  width: 700px;
  display: flex;
  flex-direction: column;
  background-image: url("https://raw.githubusercontent.com/BartoszSeno/ClickerZero/7e8292ed207169e5416054a869ee13d41b11f066/src/assets/MainImg/LeftMenu.png");
}
