@font-face {
  font-family: "Alagard";
  src: url("//db.onlinewebfonts.com/t/6faad1789bcbd321a458c14d0735d976.eot");
  src: url("//db.onlinewebfonts.com/t/6faad1789bcbd321a458c14d0735d976.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/6faad1789bcbd321a458c14d0735d976.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/6faad1789bcbd321a458c14d0735d976.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/6faad1789bcbd321a458c14d0735d976.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/6faad1789bcbd321a458c14d0735d976.svg#Alagard")
      format("svg");
}
body {
  background-color: gray;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Alagard";
}
