#shop-container {
  height: 728px;
  width: 566px;
  margin-top: 181px;
  background-color: #2d2214;
  overflow: auto;
  position: relative;
  background-attachment: scroll;
}

.shelf {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 100;
  height: 968px;
  width: 566px;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/1d10835d04fb33b61b7c50d228a42a1324558dae/src/assets/MainImg/shelf.png);
}
#shop-container::-webkit-scrollbar {
  width: 0.2em;
}

#shop-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#shop-container::-webkit-scrollbar-thumb {
  background-color: #7b5f3c;
  border-radius: 10px;
}

.itemsForPurchasable {
  width: 33.3%;
  height: 190px;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border: none;
}
.itemName {
  width: 100%;
  margin: 0;
  height: 40px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.itemsForPurchasable img {
  transform: rotate(30deg);
  position: relative;
  margin-left: 10px;
  height: 80px;
}
.itemsForPurchasable:hover {
  background-color: #2d22143b;
  cursor: pointer;
}

.PriceForPurchasable {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
  font-size: 25px;
}

.CostAndPrice {
  background-image: url("https://raw.githubusercontent.com/BartoszSeno/ClickerZero/08017438f90641e5edddbbeb21a9377f0d8d44a2/src/assets/MainImg/plate.png");
  background-repeat: no-repeat;
  background-position: center -1px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 20;
  margin-top: 0px;
}
