#shop-container {
  background-color: rgb(44, 0, 0);
  height: 927px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.itemsForPurchasable {
  width: 190px;
  height: 150px;
  background-color: gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 31px;
}
.itemName {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.itemsForPurchasable img {
  margin-left: 10px;
  height: 50px;
}

.PriceForPurchasable {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
  font-size: 25px;
}
