.HpBarContainer {
  margin-top: 448px;
  margin-left: -680px;
  width: 348px;
  height: 30px;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.HpBarContainer p {
  margin: 0;
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 40px;
}

.hpBar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: gray;
  clip-path: polygon(91% 0%, 100% 100%, 9% 100%, 0% 0%);
}

.GetDmg,
.Regenhp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: aquamarine;
  margin-top: -50px;
}

.Regenhp {
  margin-left: 120px;
}

.testhp {
  position: absolute;
  background-image: url(https://raw.githubusercontent.com/BartoszSeno/ClickerZero/main/src/assets/MainImg/any/hpBar.png);
  background-repeat: no-repeat;
  background-size: 350px;
  height: 40px;
  width: 400px;
  z-index: 1001;
  margin-top: -2px;
}
